<div id="post-info">
  {% if page.cover %}
  <div id="cover-photo-container">
    <img id="cover-photo" src="{{ page.cover || asset_path }}">
  </div>
  {% endif %}
  <div id="info-container">
    <h1 id="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <span id="date">{{ page.date | date_to_string }}</span>
  </div>
</div>

<div class="post">
  {{ content }}
</div>

{% unless hide_published_on %}
<div class="colophon">
  <p>
    <span id="pub-date">Published on {{ page.date | date_to_string }}</span>
  </p>
</div>
{% endunless %}
